<%= form_with(model: physician, local: false) do |form| %>
<%# HACK:Para V.5 de RoR deberían colocar algo así (linea 3) %>
<%# form_for(model: physician, remote: true) do |form| %>

  <% if physician.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(physician.errors.count, "error") %> prohibited this physician from being saved:</h2>

      <ul>
        <% physician.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :speciality %>
    <%= form.text_field :speciality %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
