<p id="notice"><%= notice %></p>

<h1>
  <strong>Name:</strong>
  <%= @movie.name %>
</h1>
<p>
  <h4>Géneros</h4>
  <ul>
    <% @movie.category_movies.each do |category_movie| %>
      <li>
        <%= category_movie.category.name %>
        <% if category_movie.percentage.nil? %>
          <strong>Sin porcentaje de categoria</strong>
          <%= render partial: 'ej_form_with', locals: {category_movie: category_movie} %>
          <%#= render partial: 'ej_form_tag', locals: {category_movie: category_movie} %>
        <% else %>
          <%= category_movie.percentage %>
        <% end %>
      </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
