<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Lanzamiento</th>
      <th>Nombre categoria</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.titulo %></td>
        <td><%= movie.lanzamiento %></td>
        <td><%= movie.category.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Ver subpeliculas', category_movies_path(@category.id)%>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
