<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Boss Id</th>
      <th>JEFE</th>
      <th>Subempleados</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.id%></td>
        <td><%= employee.email%></td>
        <td><%= employee.boss_id%></td>
        <td>
          <%= employee.boss.email unless employee.boss_id.nil? %>
        </td>
        <td>
          <ul>
            <%# Employee.where(boss_id: employee.id).each do |employee| %>
            <% employee.sub_employees.each do |employee| %>
              <li>
                ID: <%=employee.id%> - <%= employee.email  %>
              </li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  <tbody>
</table>
