<p id="notice"><%= notice %></p>

<h1>Categoria <%= @category.name %></h1>
<h2>Peliculas</h2>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Lanzamiento</th>
      <th>Nombre categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.titulo %></td>
        <td><%= movie.lanzamiento %></td>
        <td><%= movie.category.name %></td>
        <td><%= link_to 'Show', category_movie_path(@category.id, movie.id) %></td>
        <td><%= link_to 'Edit', edit_category_movie_path(@category.id, movie) %></td>
        <td><%= link_to 'Destroy', category_movie_path(@category.id, movie.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', category_path(@category.id) %>
<%#= link_to 'New Movie', new_movie_path %>
<%= link_to 'New Movie', new_category_movie_path(@category.id) %>
