<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @movie.titulo %>
</p>

<p>
  <strong>Lanzamiento:</strong>
  <%= @movie.lanzamiento %>
</p>

<%= link_to 'Edit', edit_category_movie_path(@category.id, @movie) %> |
<%= link_to 'Back', category_movies_path(@category.id)%>
